.card {
    width: 175px;
    font-size: 12px;
    margin-left: 36px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.gray {
    color: #918E9B;
}

.bold {
    font-weight: bold;
}

.card--image {
    width: 100%;
    height: 235px;
    border-radius: 9px;
    object-fit: cover;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}

.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--price {
    margin-top: auto;
}

.card--badge {
    position: absolute;
    background-color: white;
    border-radius: 2px;
    top: 6px;
    left: 6px;
    padding: 5px 7px;
    font-weight: bold;
}